HF_TOKEN= 
GEMINI_API_KEY = 
EMBEDDING_MODEL = "sentence-transformers/paraphrase-multilingual-MiniLM-L12-v2"
LLM_MODEL = "gemini-1.5-flash"
TEMPERATURE = 0.2
MAX_OUTPUT_TOKENS = 1024
CHUNK_SIZE = 512
CHUNK_OVERLAP = 512
TOP_K = 3
CHROMA_PATH = "./chroma_db"
COLLECTION_NAME = "akademik_tif_unipma"
CONVERSATION_WINDOW = 5
