body {
  margin: 0;
  font-family: 'Pangolin', cursive;

  height: 100vh;
  background-image: url('/static/images/bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

h1 {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 25px !important;
}

.navbar {
  background: #aeb8d4;
  padding: 15px 40px;
  display: flex;
  justify-content: flex-end;

  font-family: "Press Start 2P", system-ui;
  font-size: 15px !important;
}

.navbar a {
  margin-left: 20px;
  text-decoration: none;
  color: #3b3b3c;
  font-weight: bold;
}

.btn-chat {
  border: 2px solid black;
  padding: 6px 12px;
  border-radius: 20px;
}

.hero {
  display: flex;
  justify-content: space-between;
  padding: 60px;

  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
}

.cloud {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 300px;

  z-index: 3;
}

.hero-left {
  width: 50%;

  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  text-align: center;
}

.text-wrapper {
  position: relative;
  width: 1000px;
}

.text-img {
  width: 100%;

  position: relative;
  z-index: 1;
}

.text-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: left;
  padding: 20px;

  z-index: 2;
} 

.text-content h1 {
  font-family: "Press Start 2P", system-ui;
  font-size: 40px !important;
  margin-bottom: 15px;
  line-height: 1.4;
}

.text-content p {
  font-family: 'Pangolin', cursive;
  font-size: 20px;
  line-height: 1.6;
}
.hero-right {
  width: 40%;
  text-align: center;
}


.character-wrapper {
  position: relative;
  display: inline-block;

  width: 400px;
  height: 350px; 
  margin: auto;
}

.bubble-cloud {
  position: absolute;
  width: 400px;
}
.bubble-cloud img{
  width: 80%; /* suspicius */
  filter: drop-shadow(3px 3px 0 black);
} 

.bubble-cloud span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  width: 80%;
  text-align: center;
  
  font-size: 18px;
  font-family: "Press Start 2P", system-ui;
  line-height: 1.4;
}
.character {
  position: absolute;
  bottom: -50px;
  left: -200px;

  width: 800px;
  z-index: 2;
}

.bubble1 {
  bottom: 400px;
  left: -10px;
}

.bubble2 {
  top: 100px;
  right: 50px;
}

.bubble3 {
  top: 150px;
  right: -200px;
}

.cta-button {
  font-family: "Press Start 2P", system-ui;
  display: inline-block;
  margin-top: 400px;
  padding: 25px 50px;
  border: 2px solid black;
  background: white;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 4px 4px 0 black;
}