<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chatbot Akademik — Prodi TIF UNIPMA</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Pangolin&family=Pixelify+Sans:wght@400..700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/dashboard.css') }}"
    />
  </head>
  <body>
    <header class="navbar">
      <!-- HAMBURGER -->
      <div class="hamburger" id="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>

      <!-- MENU -->
      <div class="nav-menu" id="navMenu">
        <a href="#">Cara Penggunaan</a>
        <a href="#">Pengaduan</a>
        <a href="/chatbot" class="btn-chat">Chatbot</a>
      </div>
    </header>

    <!-- HERO SECTION -->
    <section class="hero">
      <!-- Awan -->
      <img
        src="{{ url_for('static', filename='images/cloud.png') }}"
        class="cloud"
      />

      <!-- KIRI -->
      <div class="hero-left">
        <div class="text-wrapper">
          <img
            src="{{ url_for('static', filename='images/text.png') }}"
            class="text-img"
          />
        </div>
      </div>

      <!-- KANAN -->
      <div class="hero-right">
        <div class="character-wrapper">
          <img
            src="{{ url_for('static', filename='images/right.png') }}"
            class="character"
          />
          <a href="/chatbot" class="cta-button">Yuk Tanya Chatbot!</a>
        </div>
      </div>
    </section>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
